header {
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    height: 100vh;
}
nav {
    font-family: 'Source Serif Pro', serif;
}

.content {
    font-family: 'Montserrat', sans-serif;
}

.icon {
    background-color: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    left: 144px;
    font-size: 22px;
    display: inline-block;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.image {
    width: 600px;
    right: 0;
}

.icon:hover span,
.icon:hover .tooltip {text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);}
.facebook {background-color: #3b5999; color: #ffffff;}
.twitter {background-color: #46c1f6; color: #ffffff;}
.instagram {background-color: #e1306c; color: #ffffff;}
.github {background-color: #333333; color: #ffffff;}
.youtube {background-color: #de463b;color: #ffffff;}
.sosmed a {
    margin: 0px 5px;
}
.sosmed .facebook {
    margin-left: 0;
}
@media screen and (max-width: 1300px) {
    .image img {width: 404px;}
    .image {width: auto;right: 0;}
}
@media screen and (max-width: 992px) {
    .image img {display: none;}
}
@media screen and (max-width: 768px){
    .image img{display: none;}
    .sosmed {margin-top: 10px;}
}
